 @import url(http://fonts.googleapis.com/css?family=Pacifico);

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: url("../img/bgs/texture.png") center center fixed;
}

/* HEADER */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 73px;
	background-color: rgb(245, 245, 245);
	box-shadow: 0 2px 25px;
	z-index: 3;
}

#logo {
	width: 115px;
	height: 73px;
	font-family: "Pacifico";
	font-size: 30px;
	text-shadow: 1px 1px 80px;
}

.hSeperator {
	position: relative;
	bottom: 75px;
	left: 120px;
	height: 50px;
	width: 50px;
	border-left: 1px rgb(199, 199, 199) solid;
}

#find-friend {
	position: absolute;
	top: 0;
	left: 210px;
}

#text {
	position: relative;
	top: 20px;
	text-align: left;
	width: 150px;
	background: rgba(255, 255, 255, .9);
	border: none;
	box-shadow: 0 0 1px #7A7A7A;
	padding: 8px 16px 9px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.5s;
}

#text:hover {
	background-color: beige;
}

#bot-icon {
	float: right;
	position: relative;
	bottom: 2px;
}

#bot-icon.fa-sort-asc {
	bottom: -5px;
}

#prof {
	position: absolute;
	right: 160px;
	top: 0;
}

#avatar img{
	position: absolute;
	right: 45px;
	top: 12px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	z-index: 1;
	box-shadow: 0 0 5px black;
	cursor: pointer;
	transition: transform 1s;
}

#avatar img:hover {
	transform: scale(1.1);
}

#logo span {
	position: relative;
	bottom: 30px;
	left: 20px;
	font-size: 15px;
	color: #ab171e;
}

#logo span span {
	top: 0;
	left: 0;
}

header button {
	position: absolute;
	outline: none;
	background: rgba(255, 255, 255, .9);
	border: none;
	box-shadow: 0 0 1px #7A7A7A;
	line-height: 20px;
	padding: 8px 16px 9px;
	transition: background-color 0.5s;
}

header button#settings {
	right: 10px;
	top: 18px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

header button#feeds {
	right: 85px;
	top: 18px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

header button#home {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	top: 19px;
	left: 50%;
	margin-left: -246px;
}

.fa {
	font-size: 15px;
}

header button#categories {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	top: 19px;
	left: 50%;
	margin-left: 233px;
}

header button:hover {
	background-color: beige;
}

header input {
	box-shadow: none;
	font-size: 16px;
	line-height: 20px;
	font-style: italic;
	font-weight: 300;
	width: 400px;
	border: 0;
	background: rgba(255, 255, 255, .9);
	margin: 0;
	padding: 8px 16px 9px;
	color: #7a7a7a;
	outline: none;
	margin-top: 15px;
	box-shadow: 0 0 1px;
}

#search {
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top: 4px;
}

.dd-active {
	display: block;
}

.dd-deactive {
	display: none;
}

.dropdown {
	position: absolute;
	background-color: rgb(245, 245, 245);
	box-shadow: 0 2px 25px;
	z-index: 3;
}

/* (border-left-width + border-right-width) * 0.866 = border-bottom-width */

.dropdown .pointer {
	position: absolute;
	width: 0; 
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 30px solid rgb(245, 245, 245);
	z-index: 3;
}

.dropdown .content .sub-content {
	position: absolute;
	top: 60px;
	left: 20px;
	font-size: 15px;
	width: 240px;
	height: 205px;
	border-radius: 5px;
	background: rgba(255, 255, 255, .9);
	margin: 0;
	padding: 10px;
	box-shadow: 0 0 1px #7a7a7a;
}

.dropdown#ff-dropdown {
	top: 80px;
	left: 150px;
	width: 300px;
	height: 300px;
	border-radius: 10px;
}

.dropdown#ff-dropdown .pointer {
	top: -22px;
	left: 130px;
}

.dropdown#ff-dropdown .content button {
	position: absolute;
	font-size: 11px;
	text-align: center;
	width: 130px;
	top: 15px;
}

#sug-ppl {
	left: 20px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#search-ppl {
	right: 20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.current {
	background-color: rgb(249, 249, 182);
}

.current:hover {
	background-color: rgb(249, 249, 182);
}

.sub-content#sug-content p {
	width: 260px;
	margin-left: -10px;
}

.sub-content#sug-content #invite {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
	background: -webkit-linear-gradient(#fff, #f0f0f0);
	background: linear-gradient(#fff, #f0f0f0);
	position: absolute;
	top: 0;
	left: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 260px;
	line-height: 25px;
	font-size: 15px;
	transition: box-shadow 0.5s;
}

#invite:hover {
	box-shadow: 0 0 2px;
}

.sug-container {
	position: relative;
	top: 2px;
	right: 10px;
	width: 261px;
	height: 182px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: auto;
}

#sug-content .sug-person {
	position: relative;
	top: 10px;
	left: 10px;
	margin-bottom: 10px;
}

.sug-person-img.default {
	text-align: center;
	background-color: #ab171e;
	color: white;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

.def-name {
	font-size: 12px;
	position: relative;
	top: 5px;
}

.sug-person-name, .sug-person-follow {
	font-size: 13px;
	position: absolute;
	top: 7px;
	cursor: pointer;
	transition: color 0.3s;
}

.sug-person-name {
	left: 33px;
	font-weight: bold;
}

.sug-person-follow {
	right: 20px;
	color: #ab171e;
}

.sug-person-follow:hover {
	color: red;
}

.sug-person-name:hover {
	color: #3883B2;
}

.sub-content#search-content {
	text-align: center;
}

.sub-content#search-content p {
	position: absolute;
	top: 90px;
	right: 3px;
}

.sub-content#search-content input {
	text-align: center;
	position: absolute;
	width: 228px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0 1px 1px;
	top: -15px;
	left: 0;
}

#search-content {
	display: none;
}

#search-ppl-results {
	position: absolute;
	top: 38px;
	left: 0;
	width: 260px;
	height: 187px;
}

.dropdown#cat-dropdown {
	top: 80px;
	left: 50%;
	width: 300px;
	height: 300px;
	margin-left: 105px;
	border-radius: 10px;
}

.dropdown#cat-dropdown .pointer {
	top: -22px;
	left: 130px;
}

#cat-dropdown h1 {
	text-align: center;
	font: inherit;
	font-size: 18px;
	margin-top: 20px;
}

#cat-content a {
	color: #ab171e;
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
}

#cat-content a:hover {
	color: red;
}

.col-1, .col-2 {
	position: absolute;
	font-size: 12px;
	top: 10px;
}

.col-1 {
	left: 10px;
}

.col-2 {
	right: 10px;
}

.dropdown#feeds-dropdown {
	top: 80px;
	right: 70px;
	width: 300px;
	height: 300px;
	border-radius: 10px;
}

.dropdown#feeds-dropdown .pointer {
	top: -22px;
	right: 20px;
}

.dropdown#feeds-dropdown .content button {
	position: absolute;
	font-size: 11px;
	text-align: center;
	width: 130px;
	top: 15px;
}

#notifications {
	left: 20px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#messages {
	right: 20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.dropdown#sets-dropdown {
	top: 80px;
	right: -50px;
	width: 170px;
	height: 122px;
	border-radius: 10px;
}

.dropdown#sets-dropdown .pointer {
	top: -22px;
	right: 65px;
}

#sets-dropdown .content a {
	font: inherit;
	font-size: 15px;
	text-decoration: none;
	display: block;
	margin: 10px 10px;
	color: black;
}

#sets-dropdown .content i {
	margin-right: 10px;
	color: rgb(216, 99, 99);
}

#sets-dropdown .content i#i2 {
	margin-right: 15px;
}

#sets-dropdown .content i#i3, #sets-dropdown .content i#i4 {
	margin-right: 12px;
}

#sets-dropdown .content a:hover {
	color: #ab171e;
}

/* MAIN */

#board {
	top: 73px;
	left: 5px;
	margin: 0 auto;
}

.pin-post {
	width: 230px;
	border-radius: 10px;
	background-color: white;
	font-size: 13px;
	font-weight: 200;
	box-shadow: 0 3px 3px #717171;
	margin-top: 10px;
}

.pin-post .pin-icon img {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	top: -10px;
	margin-left: -25px;
}

.pin-post .image {
	
}

.image img {
	width: 230px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.pin-post .desc {
	padding: 10px;
}

.icons {
	position: relative;
	top: 20px;
}

.shares, .likes {
	color: #717171;
	margin-right: 5px;
}

.shares {
	margin-left: 10px;
}

.shares-value {
	margin-right: 8px;
}

.like, .share {
	float: right;
}

.share {
	margin-left: 24px;
	margin-right: 10px;
}

.like:hover, .share:hover {
	color: #ab171e;
	cursor: pointer;
}

.vSeperator {
	text-align: center;
	display: block;
	height: 1px;
	position: relative;
	top: 17px;
	vertical-align: middle;
	width: 100%;
	background: rgba(0,0,0,0.2);
	box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.pin-post .from {

}

.from img {
	position: relative;
	bottom: 6px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

.from .pinner-name {
	position: relative;
	bottom: 24px;
	font-weight: 500;
}

.from .related-as {
	position: relative;
	bottom: 25px;
	left: 34px;
	color: #ab171e;
}

.from .bg {
	position: relative;
	width: 200px;
	height: 20px;
	background-color: beige;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
	padding: 15px;
	transition: background-color 1s;
}

.bg:hover {
	background-color: rgb(249, 249, 182);
}

@media only screen and (max-width: 401px) {}

@media only screen and (min-width: 402px) and (max-width: 601px) {}

@media only screen and (min-width: 602px) and (max-width: 961px) {}

