footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 50%;
	font-size: 11px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: -217px;
	padding: 10px 17px 10px 10px;
	background-color: rgba(225, 225, 225, 0.8);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

footer a {
	margin-left: 10px;
	color: white;
}